@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
  color: $subTitle;
}

.software-skill-inline > i:hover {
  color: $skillsColor;
}

.software-skill-icon {
  width: 3rem; // Match font-size of .dev-icons
  height: 3rem;
  margin-bottom: 5px;
  background-color: $subTitle;
  mask-size: cover; // https://codepen.io/noahblon/pen/PovZva
}

.software-skill-inline:hover .software-skill-icon {
  background-color: $skillsColor;
}

.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}

.software-skill-inline > i:hover ~ p,
.software-skill-inline:hover > p {
  color: $skillsColor;
}
